# Archivos de ayuda y documentación
HELP.md

# Compilación y empaquetado
target/
build/
*.jar
*.war

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# No ignorar target/build en src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
*.temp

# Configuración local y variables de entorno
.env
application-local.yml

# Archivos de base de datos
*.db
